<div class="container">
  <div class="row my-3">
    <img *ngIf="recipe" class="float-right img-fluid img-thumbnail" style=" max-width: 30%"
      src="assets/img/{{ recipe.id }}.jpg" alt="{{ recipe?.name }}" />

    <ul style="list-style: none;">
      <li>
        <h2>{{ recipe?.name }}</h2>
      </li>
      <li><a href="{{ recipe?.url }}">Online Recipe</a></li>
      <li>Yields: {{recipe.servings}}</li>
      <li>Prep Time: {{recipe.prepTime}}</li>
      <li>Cook Time: {{recipe.cookTime}}</li>
      <li>Total Time {{ recipe?.totalTime }} minutes</li>
    </ul>
  </div>

    <h4>Ingredients:</h4>

    <div *ngIf="recipe">
        <div *ngFor="let i of recipe.ingredients.myIngredients"><a href="{{i.store}}" target="_blank">{{i.quantity}} {{ i.name}}</a></div>
    </div>

    <br/>
    <h4>Directions:</h4>

    <div *ngIf="recipe">
        <div *ngFor="let d of recipe.directions">{{d}} </div>
    </div>
  </div>

